{% extends 'base_auth.html' %}
{% load static %}


{% block content %}

<!-- <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">


      <div class="card-body" style="height: 35rem;">
        <div class="card-title py-3">
          <h4 style="margin-top: 8rem;"> Login to your  account</h4>
        </div>
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}

          {% include 'partials/_messages.html' %}
          <div class="form-group">
            <input
              type="text"
              name="username"
              placeholder="username"
              id="usernameField"
              value="{{fieldValues.username}}"
              class="form-control form-control-sm"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              name="password"
              placeholder="Password"
              class="form-control form-control-sm"
              id="passwordField"
            />
          </div>
          <input type="submit" value="Login" class="btn btn-block btn-primary submit-btn" />
        </form>

      </div>

      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div> -->

<!-- <script src="{% static 'js/register.js' %}"></script> -->


<!-- /////////// -->


<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <h4 class="mt-1 mb-5 pb-1">Login to your account</h4>
                </div>

                <form action="{% url 'login' %}" method="post">
                  {% csrf_token %}
                  {% include 'partials/_messages.html' %}
                  <div class="form-outline mb-4">
                    <input type="text" id="usernameField" name="username" class="form-control"
                      value="{{ fieldValues.username }}" />
                    <label class="form-label" for="usernameField">Username</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="passwordField" name="password" class="form-control" />
                    <label class="form-label" for="passwordField">Password</label>
                  </div>

                  <button type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3">Login</button>
                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4" style="color: #2f2f2f; font-weight: bold;">Unlock Your Financial Potential with <span style="color: #000;">Spendwise</span></h4>
                <div class="d-flex align-items-center">
                  <p class="small mb-0" style="color: 2f2f2f; line-height: 1.4;">Welcome to Spendwise – where your financial journey begins anew! We're not just a company; we're your trusted companion in the quest for financial freedom. Discover the power of smart spending, insightful savings, and effortless financial management. Let's embark on this exciting adventure together!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}